<p>Gracias por preferirnos <%=recipientName%>,</p>
<br/>
<p><em>Tu reserva ya esta lista!</em> </p>
<br/>
<p><em>El dia: <%=dia%></em> </p>
<br/>
<p><em>La hora <%=hora%></em> </p>
<br/>
<p><em>Para  <%=personas%>  personas</em> </p>
<br/>
<p><em>Mesas: <%=mesas%></em> </p>
<p>Siempre gustosos de servirte,<br/><%=senderName%></p>