<div class="container">
<ul class="nav nav-tabs nav nav-tabs nav-justified" >
  <li role="presentation" class="active" ><a href="/producto">Productos</a></li>
  <li role="presentation"><a href="/platillo">Menu</a></li>
  <li role="presentation"><a href="/persona">Empleados</a></li>
  <li role="presentation"><a href="/mesa">Mesas</a></li>
  <li role="presentation"><a href="/reserva">Reservas</a></li>
</ul>
	
	<h2>Registro de mesas</h2>
	<table class="table table-hover">
		<th>Numero</th>
		<th>Capacidad</th>
		<th>Locacion</th>
		<th>Editar</th>
		<th >Eliminar</th>
	
		<% _.each(mesas, function(mesa) { %>
		<tr>
			<td><%=mesa.numero%></td>	
			<td><%=mesa.capacidad%></td>
			<td><%=mesa.locacion%></td>
			<td>
				<a href="/mesa/show/<%=mesa.id%>" class="btn btn-success btn-sm">Detalles</a>
			</td>
			<td>
				<form action="/mesa/destroy/<%= mesa.id%>" method="POST" accept-charset="utf-8">
					<input type="hidden" name="_method" value="delete"/>
					<input type="submit" class="btn btn-sm btn-danger" value="Eliminar"/>
					<input type="hidden" name="_csrf" value="<%= _csrf %>"/>

				</form>

			</td>

		</tr>
		<%})%>
	</table>

	
</div>