
<div class="container" >

<ul class="nav nav-tabs nav nav-tabs nav-justified" >
  <li role="presentation" class="active" ><a href="/home">Home</a></li>
  <li role="presentation"><a href="/historia">Conocenos</a></li>
  <li role="presentation"><a href="/reservas">Haz una reserva!</a></li>
  <li role="presentation"><a href="/ubicacion">Ubicanos</a></li>
</ul>
<div class="container2" style="max-width:500px;  margin:0 auto;">
<h1>GRACIAS POR HACER TU RESERVA!</h1>
<p><span class="glyphicon glyphicon-envelope" style="font-size: 10.2em;"></span></p><!-- <%if(req.user.rol=="1"){%>
	<h2>Hola administrador</h2>
<%}else{%>
	<h2>Acceso no permitido</h2>
<%}%>     -->
<h2>Reserva</H2>
	<ul class="list-group">
	<li class="list-group-item"> FECHA:<%= reserva.fecha %></li>
	<li class="list-group-item">HORA: <%= reserva.hora %></li>
	<li class="list-group-item">RESERVA PARA :<%= reserva.numpersonas %>  PERSONA/S</li>
	<li class="list-group-item"> A NOMBRE DE : <%= reserva.anombre %></li>
	<li class="list-group-item"> NUMERO DE MESAS: <%= reserva.nummesas %></li>
	<!-- <%_.each(reserva.mesas, function(mesa){%>
	<li class="list-group-item"> <%= mesa.numero %></li>
	<% }); %> -->
	</ul>


	   <a href="/home" class="btn btn-info" role="button">Regresar</a>
</div>
<script> 

 alert(JSON.stringify(reserva));
 console.log(reserva);
</script>    
</div>
