<div class="container">
	<h2>Reservas</H2>
	<ul>
	<li><%= reserva.fecha %></li>
	<li><%= reserva.hora %></li>
	<li><%= reserva.numpersonas %></li>
	<li><%= reserva.anombre %></li>
	</ul>

	<form action="/reserva/edit/<%=reserva.id %>" method="POST" accept-charset="utf-8">
	<button type="submit" class="btn btn-warning">EDITAR</button>
	 <a href="/reserva" class="btn btn-info" role="button">Regresar</a>
	</form>
	</div>